<div class="header">
  <%= link_to image_tag("sketto.png", class:"header__logo"), "/" %>
  <% if user_signed_in? %>
    <div class="header__menu">
      <%= link_to 'Help検索', helplists_path, class: "header__menu-list" %>
      <%= link_to 'message', groups_path, class: "header__menu-list" %>
        <%= link_to '編集', edit_user_path(current_user), class: "header__menu-btn2" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'header__menu-btn2' %>
    </div>
  <% elsif store_signed_in? %>
    <div class="header__menu">
      <%= link_to 'Help登録', "/stores/#{current_store.id}", class: "header__menu-list" %>
      <%= link_to 'message', groups_path, class: "header__menu-list" %>
      <%= link_to '店舗ログアウト', destroy_store_session_path, method: :delete, class: 'header__menu-btn3' %>
    </div>
  <% else %>
    <div class="header__menu">
        <%= link_to '新規登録', '/users/sign_up', class: "header__menu-btn1" %>
        <%= link_to 'ログイン', '/users/sign_in', class: "header__menu-btn1" %>
      <%= link_to "店舗専用", '/stores/sign_up', class:'header__menu-btn4' %>
    </div>
  <% end %> 
</div>
