<%= render partial: "top/top" %>
<div class="message-main">
  <div class="chat">

    <div class="chat-side">
      <div class="chat-side__header">
        <div class="chat-side__header-title">
          <h1 class="chat-side__header-username">
          <% if current_user then%>
          <%= current_user.name %>
          <% elsif current_store %>
          <%= current_store.name %>
          <% else %>
          <h1>仮</h1>
          <% end %>
          </h1>
          <li class="chat-side__header-list">
            <% if current_user then%>
              <%= link_to edit_user_path(current_user) do %>
                <%= icon('fas', 'user-cog', class: 'icon') %>
              <% end %>
            <% elsif current_store %>
              <%= link_to edit_store_path(current_store) do %>
                <%= icon('fas', 'user-cog', class: 'icon') %>
              <% end %>
            <% else %>
              <h1>仮</h1>
            <% end %>
          </li>
        </div>
      </div>
      
      <div class="chat-side__main">
        <% if user_signed_in? %>
          <% current_user.groups.each do |group| %>
            <div class="chat-side__main-store">
              <%= link_to group_messages_path(group) do %>
                <div class="chat-side__main-name">
                  <% group.stores.each do |store| %>
                    <%= store.name %>
                  <% end %>
                </div>
                <div class="chat-side__main-message">
                  <%= group.show_last_message %>
                </div>
              <% end %>
            </div>
          <% end%>
        <% elsif store_signed_in? %>
          <% current_store.groups.each do |group| %>
            <div class="chat-side__main-store">
              <%= link_to group_messages_path(group) do %>
                <div class="chat-side__main-name">
                  <% group.users.each do |user| %>
                    <%= user.name %>
                  <% end %>
                </div>
                <div class="chat-side__main-message">
                  <%= group.show_last_message %>
                </div>
              <% end %>
            </div>
          <% end%>
        <% end %>
      </div>

    </div>
    
    
    <div class="chat-main">

      <div class="chat-main__header">
        <div class="chat-main__header-title">
          <div class="chat-main__header-store">
            <% if user_signed_in? %>
              <% @group.stores.each do |store| %>
                <%= store.name %>
              <% end %>
            <% else %>
              <% @group.users.each do |user| %>
                <%= user.name %>
              <% end %>
            <% end %>
          </div>
        </div>
        <% if user_signed_in? %>
          <div class="chat-main__header-edit">
            <%= link_to edit_group_path(current_user), class: "chat-main__header-edit-btn" do %>
              Edit
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="chat-main__body">

        <%= render @messages %>

      </div>
      


      <div class="chat-main__message">

        <%= form_for [@group, @message] do |f| %>
          <%= f.text_field :content, class: 'chat-main__message__text', placeholder: 'type a message' %>
          <div class="chat-main__message__mask">
            <%= f.label :image, class: 'chat-main__message__mask-image' do %>
              <%= icon('fas', 'image', class: 'icon') %>
              <%= f.file_field :image, class: 'hidden' %>
            <% end %>
          </div>
          <%= f.submit 'Send', class: 'chat-main__message__btn' %>
        <% end %>

      </div>
      
    </div>
  </div>
</div>