<%= render partial: "top/top" %>

<div class="help-main">
  <div class="sidebar">
    <div class="sidebar__body">
      <% if current_store then %>
        <%= form_for [@helplist] do |f| %>
          <h1 class="sidebar__body-title">Help登録</h1>
          <div class="sidebar__body-helpline">
            <%= f.date_field :date, class: "sidebar__body-helpline-form" %>
            <%= f.time_field :starttime, class: "sidebar__body-helpline-form1"%> 〜
            <%= f.time_field :endtime, class: "sidebar__body-helpline-form1"%>
          </div>
          <div class="side_btn">
            <%= f.submit "HELP登録", class: "side_btn__btn1"%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="help">
    <div class="help__list">
      <h1 class="help__list-store">HELP一覧</h1>
      <div class="help__list__table">
          <ul class="help__list__table-data">
            <% @helplists.each do |helplist| %>
              <li>
                <div class="list-name">
                  <%= helplist.store.name %>
                </div>
                <div class="list-data">
                  <%= helplist.date %>&nbsp;&nbsp;<%= helplist.starttime %>~<%= helplist.endtime %>
                </div>
                <% if current_store && current_store.id == helplist.store_id then %>
                  <div class="help__list__table-data-edit">
                    <%= link_to '削除', "/helplists/#{helplist.id}", method: :delete %>
                  </div>
                <% end %>
              </li>
            <% end %>
            <%= paginate(@helplists) %>
          </ul>
      </div>
      <% if current_user then %>
        <div class="help__list__btn">
          <%= link_to "message", new_group_path , class:'help__list__btn-btn1' %>
        </div>
      <% end %>
    </div>
  </div>
</div>