<%= form_for group do |f| %>
  <% if group.errors.any? %>
    <div class="chat-group-form__errors">
      <h2>
        <%= "#{group.errors.full_messages.count}件のエラーが発生しました。" %>
      </h2>
      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="chat-group-form__field">
    <div class="chat-group-form__field--left">
    </div>
    <div class="chat-group-form__field--right">
    </div>
  </div>
  <div class="chat-group-form__field clearfix"></div>
  <%# この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します %>
  <div class="chat-group-form__field clearfix">
    <div class="chat-group-form__field--left">
      <label class="chat-group-form__label" for="fsda">店舗選択</label>
    </div>
    <div class="chat-group-form__field--right">
    <%# グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください %>
      <%= f.collection_check_boxes :store_ids, Store.all, :id, :name %>
      <%# この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します %>
    </div>
  </div>
  <div class="chat-group-form__field clearfix">
    <div class="chat-group-form__field--left"></div>
    <div class="chat-group-form__field--right">
      <%= f.submit class: 'chat-group-form__action-btn' %>
    </div>
  </div>
<% end %>

