<%= render partial: "top/top" %>
<div class="message-main">
  <div class="chat">

    <div class="chat-side">
      <div class="chat-side__header">
        <div class="chat-side__header-title">
          <h1 class="chat-side__header-username">
          <% if current_user then%>
          <%= current_user.name %>
          <% elsif current_store %>
          <%= current_store.name %>
          <% else %>
          <% end %>
          </h1>
          <li class="chat-side__header-list">
            <% if current_user then%>
              <%= link_to edit_user_path(current_user) do %>
                <%= icon('fas', 'user-cog', class: 'icon') %>
              <% end %>
            <% elsif current_store %>
              <%= link_to edit_store_path(current_store) do %>
                <%= icon('fas', 'user-cog', class: 'icon') %>
              <% end %>
            <% else %>
            <% end %>
          </li>
        </div>
      </div>
    
      <div class="chat-side__main">
        <% if user_signed_in? %>
          <% current_user.groups.each do |group| %>
            <div class="chat-side__main-store">
              <%= link_to group_messages_path(group) do %>
                <div class="chat-side__main-name">
                  <% group.stores.each do |store| %>
                    <%= store.name %>
                  <% end %>
                </div>
                <div class="chat-side__main-message">
                  <%= group.show_last_message %>
                </div>
              <% end %>
            </div>
          <% end%>
        <% elsif store_signed_in? %>
          <% current_store.groups.each do |group| %>
            <div class="chat-side__main-store">
              <%= link_to group_messages_path(group) do %>
                <div class="chat-side__main-name">
                  <% group.users.each do |user| %>
                    <%= user.name %>
                  <% end %>
                </div>
                <div class="chat-side__main-message">
                  <%= group.show_last_message %>
                </div>
              <% end %>
            </div>
          <% end%>
        <% end %>
      </div>

    </div>
    
    <div class="chat-main">

      <div class="chat-main__header">
      </div>

      <div class="chat-main__body">
      </div>


      <div class="chat-main__message">
      </div>

    </div>

  </div>
</div>
